@import "~normalize.css";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #262b33;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex: 1;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 1218px;
  padding-left: 9px;
  padding-right: 9px;
}
